body {
  font-family: "VT323", monospace;
  margin: 0;
  background: #871E51;
}

h1 {
  font-style: italic;
  color: #ff6f00;
}

video{
    position: absolute;
    z-index: -1;
    width: 640px; 
    height: 360px;
    top: calc(50vh - 240px - 50px);
    left: calc(50vw - 320px);
}

#camera-view{
    position: absolute;
    border-radius: 30px;
    overflow: hidden;
    width: 600px;
    height: 446px;
    left: calc(50vw - 300px);
    top: calc(50vh - 323px);
    z-index: 2;
}

#camera-view-img{
    width: 100%;
    height: 100%;
}


#entire-screen {
  position: relative;
  width: 100%;
  height: 100%;
}

#graphic-interface {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: calc(50vh + 123px );
}

.highlighter{
    background: rgba(135, 30, 81, 0.25);
    border: 4px solid #871E51;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
}